# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Virtual environment
.venv/
venv/

# Data & models
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
*.pt
*.onnx

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
